NEXT_PUBLIC_SITE_URL=https://infonte.vivannedossantos.com

# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# PayPal
NEXT_PUBLIC_PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
PAYPAL_ENV=sandbox

# Resend
RESEND_API_KEY=
RESEND_FROM="infonte <noreply@vivannedossantos.com>"

# Cron
CRON_SECRET=
